html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #fefcf7;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::selection {
    background: #0e8784;
}